<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.9.2" targetFramework="net35" requireReinstallation="True" />
  <package id="AWSSDK.DynamoDBv2" version="3.1.5.3" targetFramework="net35" requireReinstallation="True" />
  <package id="AWSSDK.IdentityManagement" version="3.1.4.9" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.1.0.0" targetFramework="net35" requireReinstallation="True" />
  <package id="AWSSDK.SimpleDB" version="3.1.0.9" targetFramework="net35" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="SimpleDb.Net" version="2.2.26" targetFramework="net35" />
  <package id="StackExchange.Redis" version="1.1.605" targetFramework="net45" />
</packages>